# Ignore Sensitive Files
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
customize.yaml
google_calendars.yaml
.google.token
.shopping_list.json

# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps
appdaemon

# Specific file ignores
core
image
www
.HA_VERSION
.ha_run.lock

# Built-in configuration ignores
automations.yaml
scenes.yaml

# Built-in blueprints ignores
blueprints/*/homeassistant

# ESPHome ignores
esphome/.*/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks
node-red
owntone
ps5-mqtt
scrypted
tts
ui_lovelace_minimalist
frigate.yml

# Ignore files created by IDE's
.vscode
.theia
.Trash*
node_modules
package-lock.json
package.json

# Ignore vendored stuff
custom_components
themes
blueprints

# Specific keeps
!.gitkeep
